#viewport {
  background-color: #a0a0a0 ;
  min-height: 100vh;

  .render-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #a0a0a0;
    height: 100%;
    padding: 1em;
    canvas, img, svg {
      max-height: 100%;
      max-width: 100%;
      flex: 1 1 auto;
      height: auto;
      width: auto;
      object-fit: contain;
    }
  }
}
#sidebar {
  min-height: 100vh;
  max-height: 100vh;
  #controls {
    height: calc(100vh - 166px);
  }
}

